.timeline-svg {
  width: 100%;
  box-sizing: border-box;
}

.timeline-label {
  fill: var(--text-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.timeline-axis {
  color: var(--text-color);
}

.timeline-clip {
  rx: 3px;
  ry: 3px;
  transition: opacity 0.2s, border 0.2s, y 0.3s ease-out;
  filter: drop-shadow(1px 2px 4px rgba(0,0,0,.21));
}

.timeline-clip:hover {
  stroke: var(--text-accent-color);
  stroke-width: 2px;
  filter: brightness(1.1);
  opacity: 1;
}

.timeline-clip.unchanged {
    fill: var(--unchanged-clip-color);
}

.timeline-clip.modified {
    fill: var(--modified-clip-color);
}

.timeline-clip.added {
    fill: var(--added-clip-color);
}

.timeline-clip.deleted {
    fill: var(--deleted-clip-color);
}

.timeline-clip.silence {
    fill: var(--silence-clip-color);
}

.timeline-clip.offset {
  opacity: 0.7;
}

.timeline-clip.hovered {
  stroke: var(--text-accent-color);
  stroke-width: 3px;
  filter: brightness(1.2) drop-shadow(0 0 3px var(--text-accent-color));
  opacity: 1;
  transition: all 0.1s ease;
}

.legend-border {
  fill: var(--secondary-bg);
  stroke: var(--primary-bg);
  stroke-width: 1px;
}

.legend-text {
  fill: var(--text-color);
  font-size: 12px;
}

.timeline-legend .timeline-clip {
  filter: none;
}

.timeline-legend .timeline-clip:hover {
  stroke: none;
  filter: none;
}

/* Clip colors - original
.timeline-clip.unchanged {
  fill: #44aa44;
}

.timeline-clip.modified {
  fill: #ffaa00;
}

.timeline-clip.added {
  fill: #ff7044;
} 

.timeline-clip.deleted {
    fill: #ff4444;
} 
*/