.timeline-svg {
  background-color: var(--secondary-bg);
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.timeline-label {
  fill: var(--text-color);
  font-size: 14px;
}

.timeline-axis {
  color: var(--text-color);
}

.timeline-clip {
  rx: 3px;
  ry: 3px;
  transition: opacity 0.2s, border 0.2s;
}

.timeline-clip:hover {
  opacity: 0.8;
  border: 1px solid #ebb400;
}

.timeline-clip.unchanged {
  fill: #44aa44;
}

.timeline-clip.modified {
  fill: #ffaa00;
}

.timeline-clip.added {
  fill: #ff7044;
} 

.timeline-clip.deleted {
    fill: #ff4444;
} 